.App {
  text-align: center;
}

*{
  margin: 0;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%)
}

.containerOne{
  line-height: 4rem;
}

.myInput{
  background-color: #c2d04f;
  border-radius: 10px;
  height: 30px;
}

label{
  padding-right: 10px;
}

button {
  padding: 10px;
  width: 125px;
  border-radius: 20px;
  background-color: antiquewhite;
}

.containerTwo{
  background-color: cadetblue;
  width: 70rem;
  grid-gap: 10px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 border: 2px solid;
}

.flexProperty{
  display: flex;
  justify-content: center;
}

.boxes{
  background-color: brown;
  width: 30rem;
  border: 2px solid;
  border-radius: 20px;
  margin-top: 10px;
}